<header class="site-shell_header">
  <div class="header-area">
    <div class="header-top_area">
      <div class="container-fluid">
        <div class="site-topbar_inner">
          <div class="short_contact_list">
            <ul>
              <li><a href="tel:+251902200020"><i class="fa fa-phone"></i> +251 902 200 020</a></li>
              <li><a href="mailto:mahletworku@enehofiker.org"><i class="fa fa-envelope"></i> mahletworku@enehofiker.org</a></li>
            </ul>
          </div>
          <div class="social_media_links d-none d-lg-flex">
            <a href="https://www.facebook.com/profile.php?id=61583776258199" aria-label="Facebook"><i class="ti-facebook"></i></a>
            <a href="https://www.instagram.com/eneho_fikir?igsh=N2lhZng4NGwybHVr" aria-label="Instagram"><i class="ti-instagram"></i></a>
            <a href="https://www.linkedin.com/company/eneho-fiker/" aria-label="LinkedIn"><i class="ti-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCWWUkwSKkab4SGOPQ10S5Lw" aria-label="YouTube"><i class="ti-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-3">
            <div class="brand-card">
              <a href="index.html" class="brand-card_link">
                <img src="img/logo.png" alt="Enehofikir Logo" class="brand-card_logo" />
                <span class="brand-card_text">
                  <span class="brand-card_name">Eneho Fikir</span>
                  <span class="brand-card_tagline">Our Children Our Future</span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9">
            <div class="main-menu">
              <div class="site-nav_cluster">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="project.html">Projects</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
                <div class="Appointment">
                  <div class="book_btn d-none d-lg-block">
                    <a href="donation.html"><i class="fa fa-heart"></i> Make a Donation</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
